body {
	margin: 0;
	background-color: var(--primaryBackground);
}

* {
	font-family: 'Inter', Arial, Helvetica, sans-serif;
}

h1 {
	font-weight: 700;
	font-size: 3rem;
}

h2 {
	font-weight: 600;
	font-size: 2rem;
}

a {
	text-decoration: none;
}

a,
p {
	font-weight: 400;
	font-size: 0.5rem;
	color: var(--fontText);
}

.p--display {
	font-size: 1rem;
	font-weight: 600;
	max-width: 60ch;
}

.p--project {
	font-size: 1rem;
	font-weight: 400;
	max-width: 60ch;
	color: var(--fontText);
}
.p--project--chosen {
	font-size: 1rem;
	font-weight: 600;
	max-width: 60ch;
	color: var(--fontTextMain);
}

.p--content {
	font-size: 0.8rem;
	max-width: 60ch;
}

:root {
    --primaryHighlight: #0F4C75;
    --primaryAccent: #1B262C;

    --fontTextMain: #333;
    --fontText: #333;
    
    --fontAlternateText: #BBE1FA;
    --fontMainContast: #f9f9f9;
}